
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="header">
    Welcome to Exam Application System
  </div>

  <div class="slider">
    <div class="s1">
      <h3>Admin</h3>
      <a href="/adinfo">Admin</a>
    <a href="/course">Subject</a>  
      <a href="#">Exam</a>
      <a href="#">Questions</a>
      <a href="#">Schedule</a>
    </div>

    <div class="s2">
      <h2>Hello Admin </h2>
      <p>Welcome to your dashboard.</p>
    </div>
  </div>

</body>
</html>
