<html>
    <head>
 <link rel="stylesheet"href="./style.css"/>
    </head>
    <body>
         <%- include("nav.ejs") %>
        <center>
        <div class="container1">
            <label><h1>Student Login</h1></label>
      <div form>
    <input type="text"placeholder="Enter UserName"><br><br><br>
      </div>
<div form>
    <input type="text"placeholder="Enter password"><br>
</div><br><br>
<div form>
    <input type="submit"id="b"value="login"><br>
</div>
  </div>
</center>
    
    </body>
</html>